@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
  overflow-x: hidden;
}

@layer components {
  .heading-1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    /* font-size: 72px; */
    font-size: clamp(24px, 4vw, 100px);
  }
  .heading-2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 54px;
  }
  .heading-3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
  }
  .heading-4 {
    font-family: 'Exo 2', sans-serif;
    font-size: 28px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    margin: 24px 40px;
  }

  .p-sides {
    padding: 0 40px;
  }

  .backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 110;
    backdrop-filter: blur(5px);
  }

  .carCard .carImage {
    transition: all 0.3s;
  }

  .carCard:hover .carImage {
    filter: blur(6px);
  }

  .carCard .cardArrow {
    transition: all 0.1s ease;
    visibility: hidden;
    transform: translateY(30px);
  }

  .carCard:hover .cardArrow {
    visibility: visible;
    transform: translateY(0);
  }

  .signInGrid {
    display: grid;
    grid-template-columns: 1fr 744px;

    @media only screen and (max-width: 1280px) {
      grid-template-columns: 1fr;
    }
  }
}
